<div>
  <h1>A couple of questions to better explain what we're all about:</h1>
  
  <h2>What does Driven do?</h2>
  <p>We solve a major problem for everyone with a car in urban India - driving. We provide verified, reliable and trained drivers at hourly rates.</p>
  
  <h2>Great, I see how that helps! So how do I book a driver?</h2>
  <p>Its easy! Head over to the Bookings page or download our app from the Play Store. Then sign up with your email and number, select your pick up location, date and time, and there you go! Easy as pie!</p>

  <h2>Hey you guys don't seem to be in my locality! How many places are you operational in?</h2>
  <p>Sorry if we aren't servicing your area yet. We promise to be there soon! As of yet we service the whole of Mumbai, up to cetain parts of Navi Mumbai and Thane. But we're expanding fast and before you know it we'll be at your doorstep too.</p>

  <h2>This seems fantastic! But how do you ensure your drivers are verified and trustworthy?</h2>
  <p>All our drivers undergo a rigorous 3 step verification process, including a police verification, a background check by a professional agency and our very own ultra strict personality tests. We have high standards for each round and only the best drivers are finally selected.</p>

  <h2>How do I pay the driver? Do you guys have any credit card/e-wallet facilities?</h2>
  <p>Right now you can pay the driver in cash, but we're in the process of integrating support for cards as well as mobile wallets!</p>

  <h2>What happens in case of any mishaps?</h2>
  <p>Answer here. </p>

  <h2>Do you guys have any other special offers?</h2>
  <p>We just launched a Pair Booking feature aimed at office commuters. With this, we provide a driver to pick you up in the morning to drop you till your office. In the evening, you get another driver to pick you from office and drop you back home. So sit back and travel in the comfort of your own car without having to worry about navigating rush hour traffic!</p>

  <h2>Wow that's fantastic! How much does it cost?</h2>
  <p>We are giving an introductory price of Rs. 400 only, for one Pair Booking (to and fro included). You can check our normal pricing structure in the fare chart <a href="#/fare">here</a>.</p>

  <h2>Do you servcie special requests like daily/weekly bookings or outstation drivers?</h2>
  <p>Yes we do, but on a case-by-case basis. It depends on the availability of our drivers. Please get in touch with one of our executives by calling any of our numbers, listed <a href="#/contact">here</a>.</p>

</div>