<!--slider Section Start Here -->
  <section id="slider">
    <div class="container-fluid">
      <div class="row"> 
        
        <!--slider Start Here -->
        <div class="banner-slider">
          <div class="tp-banner" >
            <ul>
              <li data-transition="random" data-slotamount="7" data-masterspeed="1500" data-thumb="../assets/img/dr-slider-1.jpg"  data-saveperformance="on"  data-title="Mobile Interaction"> <img src="../assets/img/dr-slider-1.jpg"  alt="slidebg2" data-lazyload="../assets/img/dr-slider-1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="banner-content">
                  <div class="tp-caption randomrotateout rs-parallaxlevel-5 layer1"
                      data-x="left" data-hoffset="65"
                    data-y="center" data-voffset="5"
                    data-speed="900"
                    data-start="700"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="600"
                    >Book online </div>
                  <div class="tp-caption skewfromrightshort randomrotateout rs-parallaxlevel-6 layer2"
                      data-x="left" data-hoffset="15"
                      data-y="center" data-voffset="-5"
                      data-speed="500"
                      data-start="700"
                      data-easing="Power3.easeInOut"
                      data-splitin="chars"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="600"
                      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">IT’s so fast! </div>
                </div>
              </li>
              <li data-transition="random" data-slotamount="7" data-masterspeed="1500" data-thumb="../assets/img/dr-slider-2.jpeg"  data-saveperformance="on"  data-title="Mobile Interaction"> <img src="../assets/img/dr-slider-2.jpeg"  alt="slidebg2" data-lazyload="../assets/img/dr-slider-2.jpeg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="banner-content">
                  <div class="tp-caption randomrotateout rs-parallaxlevel-5 layer1"
                      data-x="left" data-hoffset="65"
                    data-y="center" data-voffset="5"
                    data-speed="900"
                    data-start="700"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="600"
                    >Book online </div>
                  <div class="tp-caption skewfromrightshort randomrotateout rs-parallaxlevel-6 layer2"
                      data-x="left" data-hoffset="15"
                      data-y="center" data-voffset="-5"
                      data-speed="500"
                      data-start="700"
                      data-easing="Power3.easeInOut"
                      data-splitin="chars"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="600"
                      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">IT’s so convenient! </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--slider End Here --> 
        
        <!--resto-info Start Here -->
        <div class="resto-info">
          <div class="container">
            <div class="row">
              <div class="mid clearfix">
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="btn-group">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"><span class="select-text" >Enter Your City</span><span class="caret">&nbsp;</span></button>
                    <ul class="dropdown-menu choice">
                      <li><a href="#">Mumbai</a></li>
                      <li><a href="#" class="inactive">Delhi (coming soon!)</a></li>
                      <li><a href="#" class="inactive">Bangalore (coming soon!)</a></li>
                      <li><a href="#" class="inactive">Pune (coming soon!)</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="input-group"> <span class="input-group-addon fa fa-map-marker" id="basic-addon1">&nbsp;</span>
                    <input type="text" class="form-control" placeholder="Pick Up Location" aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field  clearfix">
                  <div class="input-group date-field"> <span class="input-group-addon fa fa-map-marker" id="basic-addon2">&nbsp;</span> 
                    <!--  <input type="text" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="basic-addon2" /> -->
                    <div class="input-box date-pick">
                      <input type="text" placeholder="mm/dd/yyyy" id="datepicker-5" />
                    </div>
                  </div>
                  <div class="btn-group time-field">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"><span class="select-text">8:00 am</span><span class="caret">&nbsp;</span></button>
                    <ul class="dropdown-menu choice">
                      <li><a href="#">9:00 am</a></li>
                      <li><a href="#">10:00 am</a></li>
                      <li><a href="#">11:00 am</a></li>
                      <li><a href="#">12:00 pm</a></li>
                      <li><a href="#">1:00 pm</a></li>
                      <li><a href="#">2:00 pm</a></li>
                      <li><a href="#">3:00 pm</a></li>
                      <li><a href="#">4:00 pm</a></li>
                      <li><a href="#">5:00 pm</a></li>
                      <li><a href="#">6:00 pm</a></li>
                      <li><a href="#">7:00 pm</a></li>
                      <li><a href="#">8:00 pm</a></li>
                      <li><a href="#">9:00 pm</a></li>
                      <li><a href="#">10:00 pm</a></li>
                      <li><a href="#">11:00 pm</a></li>
                      <li><a href="#">12:00 am</a></li>
                      <li><a href="#">1:00 am</a></li>
                      <li><a href="#">2:00 am</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="btn-group">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"><span class="select-text">Transfer Type</span><span class="caret">&nbsp;</span></button>
                    <ul class="dropdown-menu choice">
                      <li><a href="#">Delivery &amp; Pickup</a></li>
                      <li><a href="#">Delivery &amp; Pickup2</a></li>
                      <li><a href="#">Delivery &amp; Pickup3</a></li>
                      <li><a href="#">Delivery &amp; Pickup4</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="input-group"> <span class="input-group-addon fa fa-map-marker" id="basic-addon3">&nbsp;</span>
                    <input type="text" class="form-control" placeholder="Drop Off Location" aria-describedby="basic-addon3" />
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <button class="btn btn-default btn-effect">Book your Driver now! <i><img alt="" src="../assets/img/arrow-btn.png"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--resto-info End Here --> 
        
      </div>
    </div>
  </section>
  <!--slider Section End Here --> 
  
  <!--content Section Start Here -->
  <div id="content"> 
    
    <!--orgs-info Start Here -->
    <section class="orgs-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="text">
              <h1>Book Driver Now! <a href="tel:18005596580" class="mark"> +91 9820977829</a></h1>
              <div class="intro">
                <p>While the booking through the app is faster and more detailed, we also take bookings over phone (based on availability). To get a minute by minute update and detailed tracking, use the app.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 right">
            <figure> <img src="../assets/img/book-driver-now.jpg" alt="" /> </figure>
          </div>
        </div>
      </div>
    </section>
    <!--orgs-info End Here --> 
    
    <!--product-info Start Here -->
    <section class="product-info parallax">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-clock-o"></span></i>
              <h3>BOOK IN SECONDS</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-globe"></span></i>
              <h3>TRACK YOUR DRIVER</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-mobile"></span></i>
              <h3>PAY WITH YOUR PHONE</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-desktop"></span></i>
              <h3>BOOK ONLINE</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--product-info End Here --> 
    
    <!--news-info Start Here -->
    <section class="news-info anim-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text">
            <div class="row">
              <div class="col-xs-12">
                <h2>Special Offers</h2>
              </div>
            </div>
            <div class="row">
              <div id="news-crousel" class="owl-carousel">
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img81.jpg" alt="" /> </figure>
                  <span class="date">December 1st, 2015</span>
                  <h3><a href="blog-office.html">Ride to office</a></h3>
                  <p>We are making your journey to and from office a breeze! Get a driver to drive you to office and again drive you back in the evening. All for 400/- The drivers may or may not be the same. They cannot be used for any other purpose or driving routes, except for home to office and office to home. Bookings for susequent days close at 10pm every night.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img82.jpg" alt="" /> </figure>
                  <span class="date">December 1st, 2015</span>
                  <h3><a href="blog-post-1.html">Designated driver for party nights</a></h3>
                  <p>Forget about drinking and driving or keeping a designated driver. Get a driver to drive you back after an epic night of partying! Rates on the <a href="#fare"> fare chart</a>. Book now on the app! </p>
                </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-xs-12">
                <h2>Happy customers..</h2>
              </div>
            </div>
            <div class="testimonial-slider">
              <ul class="slides">
                <li>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="quote"> <span>“</span>
                        <p>Driven has changed the way I think about using my car. Now I don't have to waste it at home and pay for Uber everywhere I go. I get a lot of work done in the comfort of my own car, knowing that the driver is very competent and totally reliable..”</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="profile">
                        <figure> <img src="../assets/img/news-client-img1.jpg" alt="" /> </figure>
                        <div class="intro">
                          <h3>Pranav Khattri,</h3>
                          <p>Loyal customer, loves to party.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="quote"> <span>“</span>
                        <p>I use for my spare car at home. My wife needs to drop the kids at school in the morning, followerd by her office work during the day. Sometimes my elderly parents use it to go to the temple or visit some relatives..”</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="profile">
                        <figure> <img src="../assets/img/news-client-img1.jpg" alt="" /> </figure>
                        <div class="intro">
                          <h3>Hari Krishnan,</h3>
                          <p>Investor and advisor at Driven, doesn't have to worry about his spare car anymore.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--news-info End Here --> 
    
    <!--apps-info Start Here -->
    <section class="apps-info anim-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="text">
              <h2 class="h1">Download the Driven App</h2>
              <div class="intro">
                <p>Download the Driven app and book a driver within seconds! Book the best suited driver for you, track your driver as well as your your car usage. Never have to worry about missing out the latest deals. Get the best offers only on your app!</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="img-big">
              <figure> <img src="../assets/img/apps-img82.jpg" alt="" /> </figure>
            </div>
            <div class="img-small">
              <figure> <img src="../assets/img/app-screen1.png" alt="App Screenshot" /> </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--apps-info End Here --> 
    
    <!--subscription Start Here -->
    <section class="subscription clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Sign Up Today for the Driven Newsletter</h2>
          </div>
          <div class="col-md-6 subscription-field">
            <input type="text" placeholder="Enter your e-mail" class="subscription-input" />
            <button class="btn btn-default btn-effect" type="button">submit<i><img alt="" src="../assets/img/arrow-btn.png"></i></button>
          </div>
        </div>
      </div>
    </section>
    <!--subscription End Here --> 
    
  </div>
  <!--content Section End Here --> 


<script src="../assets/js/jquery-1.11.3.min.js"></script> 
<script src="../assets/js/bootstrap.min.js"></script> 
<script src="../assets/js/less.js"></script> 
<script src="../assets/js/jquery-ui.js"></script> 

<!-- flexslider Js --> 
<script src="../assets/js/jquery.flexslider.js"></script> 
<script src="../assets/js/jquery.appear.js"></script> 
<script src="../assets/js/owl.carousel.min.js"></script> 

<!-- revolution Js --> 
<script type="text/javascript" src="../assets/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="../assets/js/jquery.themepunch.revolution.min.js"></script> 
<script type="text/javascript" src="../assets/js/jquery.revolution.js"></script> 
<!-- revolution Js --> 
<script src="../assets/js/bootstrap-select.js"></script> 
<script src="../assets/js/site.js"></script> 