<!--slider Section Start Here -->
  <section id="slider">
    <div class="container-fluid">
      <div class="row"> 
        
        <!--slider Start Here -->
        <div class="banner-slider">
          <div class="tp-banner" >
            <ul>
              <li data-transition="random" data-slotamount="7" data-masterspeed="1500" data-thumb="../assets/img/slider-img81.jpg"  data-saveperformance="on"  data-title="Mobile Interaction"> <img src="../assets/img/slider-img81.jpg"  alt="slidebg2" data-lazyload="../assets/img/slider-img81.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="banner-content">
                  <div class="tp-caption randomrotateout rs-parallaxlevel-5 layer1"
                      data-x="left" data-hoffset="65"
                    data-y="center" data-voffset="5"
                    data-speed="900"
                    data-start="700"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="600"
                    >Reserve online </div>
                  <div class="tp-caption skewfromrightshort randomrotateout rs-parallaxlevel-6 layer2"
                      data-x="left" data-hoffset="15"
                      data-y="center" data-voffset="-5"
                      data-speed="500"
                      data-start="700"
                      data-easing="Power3.easeInOut"
                      data-splitin="chars"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="600"
                      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">IT’s so easy! </div>
                </div>
              </li>
              <li data-transition="random" data-slotamount="7" data-masterspeed="1500" data-thumb="../assets/img/slider-img81.jpg"  data-saveperformance="on"  data-title="Mobile Interaction"> <img src="../assets/img/slider-img81.jpg"  alt="slidebg2" data-lazyload="../assets/img/slider-img81.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="banner-content">
                  <div class="tp-caption randomrotateout rs-parallaxlevel-5 layer1"
                      data-x="left" data-hoffset="65"
                    data-y="center" data-voffset="5"
                    data-speed="900"
                    data-start="700"
                    data-easing="Power3.easeInOut"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="600"
                    >Reserve online </div>
                  <div class="tp-caption skewfromrightshort randomrotateout rs-parallaxlevel-6 layer2"
                      data-x="left" data-hoffset="15"
                      data-y="center" data-voffset="-5"
                      data-speed="500"
                      data-start="700"
                      data-easing="Power3.easeInOut"
                      data-splitin="chars"
                      data-splitout="none"
                      data-elementdelay="0.1"
                      data-endelementdelay="0.1"
                      data-endspeed="600"
                      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">IT’s so easy! </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--slider End Here --> 
        
        <!--resto-info Start Here -->
        <div class="resto-info">
          <div class="container">
            <div class="row">
              <div class="mid clearfix">
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="btn-group">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"><span class="select-text" >Enter Your City</span><span class="caret">&nbsp;</span></button>
                    <ul class="dropdown-menu choice">
                      <li><a href="#">Delhi</a></li>
                      <li><a href="#">Noida</a></li>
                      <li><a href="#">Mumbai</a></li>
                      <li><a href="#">Indore</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="input-group"> <span class="input-group-addon fa fa-map-marker" id="basic-addon1">&nbsp;</span>
                    <input type="text" class="form-control" placeholder="Pick Up Location" aria-describedby="basic-addon1" />
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field  clearfix">
                  <div class="input-group date-field"> <span class="input-group-addon fa fa-map-marker" id="basic-addon2">&nbsp;</span> 
                    <!--  <input type="text" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="basic-addon2" /> -->
                    <div class="input-box date-pick">
                      <input type="text" placeholder="mm/dd/yyyy" id="datepicker-5" />
                    </div>
                  </div>
                  <div class="btn-group time-field">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"><span class="select-text">8:00</span><span class="caret">&nbsp;</span></button>
                    <ul class="dropdown-menu choice">
                      <li><a href="#">9:00</a></li>
                      <li><a href="#">10:00</a></li>
                      <li><a href="#">11:00</a></li>
                      <li><a href="#">12:00</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="btn-group">
                    <button class="btn dropdown-toggle" name="recordinput" data-toggle="dropdown"><span class="select-text">Transfer Type</span><span class="caret">&nbsp;</span></button>
                    <ul class="dropdown-menu choice">
                      <li><a href="#">Delivery &amp; Pickup</a></li>
                      <li><a href="#">Delivery &amp; Pickup2</a></li>
                      <li><a href="#">Delivery &amp; Pickup3</a></li>
                      <li><a href="#">Delivery &amp; Pickup4</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <div class="input-group"> <span class="input-group-addon fa fa-map-marker" id="basic-addon3">&nbsp;</span>
                    <input type="text" class="form-control" placeholder="Drop Off Location" aria-describedby="basic-addon3" />
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 form-field">
                  <button class="btn btn-default btn-effect">book your taxi now! <i><img alt="" src="../assets/img/arrow-btn.png"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--resto-info End Here --> 
        
      </div>
    </div>
  </section>
  <!--slider Section End Here --> 
  
  <!--content Section Start Here -->
  <div id="content"> 
    
    <!--orgs-info Start Here -->
    <section class="orgs-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="text">
              <h1>Book Taxi Now! <a href="tel:18005596580" class="mark"> +1 800 559 6580</a></h1>
              <div class="intro">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 right">
            <figure> <img src="../assets/img/taxi-2.png" alt="" /> </figure>
          </div>
        </div>
      </div>
    </section>
    <!--orgs-info End Here --> 
    
    <!--product-info Start Here -->
    <section class="product-info parallax">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-clock-o"></span></i>
              <h3>BOOK IN SECONDS</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-globe"></span></i>
              <h3>TRACK YOUR TAXI</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-mobile"></span></i>
              <h3>PAY WITH YOUR PHONE</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="product"> <i><span class="fa fa-desktop"></span></i>
              <h3>reserve online</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--product-info End Here --> 
    
    <!--news-info Start Here -->
    <section class="news-info anim-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 text">
            <div class="row">
              <div class="col-xs-12">
                <h2>Special Offers</h2>
              </div>
            </div>
            <div class="row">
              <div id="news-crousel" class="owl-carousel">
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img81.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Vitae adipiscing turpis.</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img82.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Ligula nibh in, molestie</a></h3>
                  <p>Dolor sit amet, consectetur adipiscing elit. Nunc posuere metus egestas.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img81.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Vitae adipiscing turpis.</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img82.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Ligula nibh in, molestie</a></h3>
                  <p>Dolor sit amet, consectetur adipiscing elit. Nunc posuere metus egestas.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img81.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Vitae adipiscing turpis.</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img82.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Ligula nibh in, molestie</a></h3>
                  <p>Dolor sit amet, consectetur adipiscing elit. Nunc posuere metus egestas.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img81.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Vitae adipiscing turpis.</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="item zoom">
                  <figure> <img src="../assets/img/news-info-img82.jpg" alt="" /> </figure>
                  <span class="date">june 20, 2014</span>
                  <h3><a href="blog-post-1.html">Ligula nibh in, molestie</a></h3>
                  <p>Dolor sit amet, consectetur adipiscing elit. Nunc posuere metus egestas.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-xs-12">
                <h2>Clients’ Quotes</h2>
              </div>
            </div>
            <div class="testimonial-slider">
              <ul class="slides">
                <li>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="quote"> <span>“</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere metus egestas pulvinar ...”</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="profile">
                        <figure> <img src="../assets/img/news-client-img1.jpg" alt="" /> </figure>
                        <div class="intro">
                          <h3>Alan Grosh,</h3>
                          <p> Director of companyname </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="quote"> <span>“</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere metus egestas pulvinar ...”</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="profile">
                        <figure> <img src="../assets/img/news-client-img1.jpg" alt="" /> </figure>
                        <div class="intro">
                          <h3>Alan Grosh,</h3>
                          <p> Director of companyname </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--news-info End Here --> 
    
    <!--apps-info Start Here -->
    <section class="apps-info anim-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="text">
              <h2 class="h1">Download the Taxi App</h2>
              <div class="intro">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="img-big">
              <figure> <img src="../assets/img/apps-img82.jpg" alt="" /> </figure>
            </div>
            <div class="img-small">
              <figure> <img src="../assets/img/apps-img81.jpg" alt="" /> </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--apps-info End Here --> 
    
    <!--subscription Start Here -->
    <section class="subscription clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Sign Up Today for Company Newsletter</h2>
          </div>
          <div class="col-md-6 subscription-field">
            <input type="text" placeholder="Enter your e-mail" class="subscription-input" />
            <button class="btn btn-default btn-effect" type="button">submit<i><img alt="" src="../assets/img/arrow-btn.png"></i></button>
          </div>
        </div>
      </div>
    </section>
    <!--subscription End Here --> 
    
  </div>
  <!--content Section End Here --> 