<div>Our fare chart:</div>

<h1>Hourly bookings:</h1>
<p>Base fare (up to 1 hour): Rs. 200/-</p>
<p>Rate per hour (from 2nd hour onwards): Rs. 100/-</p>

<h1>Pair Bookings:</h1>
<p>Rs. 400/- flat fee for a morning ride and an evening ride.</p>
<p>Each ride can be of a maximum of 2 hours, following which we will charge Rs. 50 per hour, per ride.</p>
<p>Pair bookings can only be from point A to B and back to A (home to office and back to home) and cannot be used to take the driver to any other places. Extra charges will be applicable, as per our normal hourly rates, in any such scenario.</p>


